asgiref==3.8.1
django==5.0.3
django-split-settings
django-debug-toolbar
sqlparse==0.4.4
typing_extensions==4.11.0
uWSGI==2.0.20
psycopg2-binary==2.9
python-dotenv==1.0.1
gunicorn==21.2.0
flake8==6.1.0
poetry==1.5.1